
<h1>Pier</h1>

<h2><%= @pier.title %><h2>
<img src="<%= @pier.image_url %>" alt="">

<span class = "weather">
    <h3>Check the wind forecast for <a href="https://wind.willyweather.com.au/VIC/mornington-peninsula/<%= @pier.title %>.html"> <%=@pier.title %> pier</a> and also the<a href="https://tides.willyweather.com.au/VIC/mornington-peninsula/<%= @pier.title %>.html"> tide</a>
    </h3>
</span>

<form action="/comments" method = "post">
    <input value="<%= @pier.id %>" type="hidden" name = "pier_id">
    <textarea name= "body"></textarea>
    <button>post comment</button>
</form>

<% @comments.each do |comment|%>
<p><%= comment.body %></p>
<% end %>

<form action="/photos" method = "post">
    <%# <label for=""></label> %>
    <input type="hidden" name = "pier_id" value ="<%= @pier.id %>">
    <input type="text" name="image_url">
    <button>post your photo url</button>
</form>

 <% @photos.each do |photo|%>
    <img src="<%= photo.image_url %>">
 <% end %>



